@model IEnumerable<techburst_group2.Models.TagViewModel>

@{
    ViewData["Title"] = "All";
}

@if (TempData["Create"] != null)
{
    <strong class="alert alert-success">@TempData["Create"]</strong>
    <br />
    <br />
}

@if (TempData["Delete"] != null)
{
    <strong class="alert alert-danger">@TempData["Delete"]</strong>
    <br />
    <br />
}

<div class="card border-yellow shadow text-center border-color p-3 contact-big-text">
    <h4 class="text text-center ">Manage Tags</h4>
</div>
<p>
    <a asp-action="Create">Create New</a>
</p>


<div class="table mt-4">
    <table class="table table-striped table-responsive-sm">
        <thead class="thead-light">
            <tr>
                <th class="col-5">
                    @Html.DisplayNameFor(model => model.Id)
                </th>
                <th class="col-5">
                    @Html.DisplayNameFor(model => model.Name)

                </th>
                <th class="col-1">

                </th>
                <th class="col-1">

                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td class="col-5">
                        @Html.DisplayFor(modelItem => item.Id)
                    </td>
                    <td class="col-5">
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>


                    <td class="col-1">
                        <button class="btn-warning">@Html.ActionLink("Edit", "Edit", new { id = item.Id }, new { @class = "text-white p-3 text-decoration-none" })</button>
                    </td>


                    <td class="col-1">
                        <button class="btn-danger">@Html.ActionLink("Delete", "Delete", new { ID = item.Id }, new { onclick = "return confirm('Are you sure you want to delete?');", @class = "text-white p-3 text-decoration-none" })</button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>