@model ArticleModel
@using Interfaces.BLL
@using techburst_group2.Utilities
@inject ITagCollection TagCollection
@{var articles = ViewData["Articles"] as List<ArticleModel>;}


<div id="carouselControls" class="carousel slide" data-ride="carousel">
    <!--indicators-->
    <ol class="carousel-indicators">
        <li data-target="#multi-item-example" data-slide-to="0" class="active"></li>
        <li data-target="#multi-item-example" data-slide-to="1"></li>
        <li data-target="#multi-item-example" data-slide-to="2"></li>
    </ol>
    <!--indicators-->
    <!--carousel slides-->
    <div class="carousel-inner">
        @for (int c = 0; c < (articles.Count + 2) / 3; c++)
        {
            string classname;
            if (c == 0)
            {
                classname = "carousel-item active";
            }
            else
            {
                classname = "carousel-item";
            }
            <div class="@classname">
                <div class="row">
                    @for (int i = c * 3; i < 3 * (c + 1); i++)
                    {
                        if (i >= articles.Count)
                        {
                            break;
                        }
                        string content = ArticleTextManager.ParseHeaderContent(articles[i].Content);
                        string title = ArticleTextManager.ParseHeaderContent(articles[i].Title);
                        if (content.Length > 160)
                        {
                            content = content.Substring(0, 160) + "...";
                        }

                        if (title.Length > 30)
                        {
                            title = title.Substring(0, 30) + "...";
                        }
                        <!--carousel cards-->
                        <div class="col-12 col-sm-8 col-md-6 col-lg-4 mt-5">
                            <div class="card border-color">
                                <img class="card-img" src="@articles[i].Images" alt="Cardphoto">
                                <div class="card-img-overlay">
                                    <a href="#" class="text-white btn btn-dark mb-4" style="font-weight:600;">@TagCollection.GetById(articles[i].TagID).Name</a>
                                </div>
                                <a class="card-img-overlay" href="@Url.Action("ArticlePage", "Article", new { id = articles[i].Id }, null)"></a>
                                <div class="card-body">
                                    <h4 class="mt-3" style="color:#FFE000">@ArticleTextManager.ParseHtmlTags(title)</h4>
                                    <small class="text-muted">
                                        <i class="far fa-clock text-info"></i> Written by: | @articles[i].Author
                                    </small>
                                    <p class="mt-1" style="color:white">@ArticleTextManager.ParseHtmlTags(content)</p>
                                </div>
                                <div class="card-footer text-muted d-flex justify-content-between bg-transparent border-top-0">
                                    
                                </div>
                            </div>
                        </div>
                        <!--carousel cards-->
                    }
                </div>
            </div>
        }
    </div>
    <!--carousel stlides-->
</div>
<!--carousel controls-->
<a class="carousel-control-prev" href="#carouselControls" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
</a>
<a class="carousel-control-next" href="#carouselControls" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
</a>
<!--carousel controls-->
