@model ArticleModel
@{var articles = ViewData["Articles"] as List<ArticleModel>;}


<div id="carouselControls" class="carousel slide" data-ride="carousel">
    <!--indicators-->
    <ol class="carousel-indicators">
        <li data-target="#multi-item-example" data-slide-to="0" class="active"></li>
        <li data-target="#multi-item-example" data-slide-to="1"></li>
        <li data-target="#multi-item-example" data-slide-to="2"></li>
    </ol>
    <!--indicators-->
    <!--carousel slides-->
    <div class="carousel-inner">
        @for (int c = 0; c < (articles.Count+2)/3; c++)
        {
            string classname;
            if (c == 0)
            {
                classname = "carousel-item active";
            }
            else
            {
                classname = "carousel-item";
            }
            <div class="@classname">
                <div class="row">
                    @for (int i = c * 3; i < 3 * (c + 1); i++)
                    {
                        if (i >= articles.Count)
                        {
                            break;
                        }
                        string content = articles[i].Content;
                        if (content.Length > 40)
                        {
                            content = content.Substring(0, 160) + "...";
                        }
                        <!--carousel cards-->
                        <div class="col-12 col-sm-8 col-md-6 col-lg-4">
                            <div class="card">
                                <img class="card-img" src="https://s3.eu-central-1.amazonaws.com/bootstrapbaymisc/blog/24_days_bootstrap/pasta.jpg" alt="Bologna">
                                <div class="card-img-overlay">
                                    @foreach (var tag in articles[i].Tags)
                                    {
                                        <a href="#" class="btn btn-dark btn-sm text-light">@tag</a>
                                    }
                                </div>
                                <div class="card-body">
                                    <h4 class="card-title">Title</h4>
                                    <small class="text-muted cat">
                                        <i class="far fa-clock text-info"></i> Geschreven door: @articles[i].Author
                                        <i class="far fa-clock text-info"></i> &nbsp;&nbsp;|&nbsp;&nbsp;
                                        <i class="far fa-clock text-info"></i>
                                        <i class="far fa-clock text-info"></i> Leestijd: 5 minutes
                                    </small>
                                    <p class="card-text">@content</p>
                                </div>
                                <div class="card-footer text-muted d-flex justify-content-between bg-transparent border-top-0">
                                    <div class="views">
                                        @articles[i].CreatedAt
                                    </div>
                                    <div class="stats">
                                        <i class="far fa-eye"></i>
                                        <i class="far fa-comment"></i> 12
                                    </div>

                                </div>
                            </div>
                        </div>
                        <!--carousel cards-->
                    }
                </div>
            </div>
        }
    </div>
    <!--carousel stlides-->
    <!--carousel controls-->
    <a class="carousel-control-prev" href="#carouselControls" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselControls" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
    <!--carousel controls-->
</div>
