@using techburst_group2.Utilities
@model IEnumerable<techburst_group2.Models.ArticleModel>

@{ ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="text-center">Admin Workstation</h2>
@Html.ActionLink("Add new article to the system", "Create", "Articles")
<hr/>


<table class="table bg-y text-white" style="width: 1200px; position: absolute; left: 250px; top: 200px;">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TagID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedAt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastEdited)
            </th>
            <th></th>
            <th></th>

        </tr>
    </thead>
    <tbody>

        @foreach (var item in Model)
        {
            string parsedContent = ArticleTextManager.ParseHeaderContent(item.Content);
            <tr>
                
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TagID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CreatedAt)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LastEdited)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", "Articles", new { id = item.Id })
                </td>
                <td>
                    @Html.ActionLink("Delete", "Delete", new { ID = item.Id }, new { onclick = "return confirm('Are you sure you want to delete?');" })
                </td>
        </tr>
    }
        </tbody>
    </table>




