@model IEnumerable<ArticleModel>
@{ ViewData["Title"] = "Articles"; }

<head>
    <link rel="stylesheet" href="~/css/articles.css">
</head>

<body>
    <h2>Alle artikelen</h2>

    <div class="dropdown">
        <button class="btn btn-light dropdown-toggle" type="button" data-toggle="dropdown">
            Dropdown Example
            <span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
            <li><a href="#">C#</a></li>
            <li><a href="#">Java</a></li>
            <li><a href="#">C++</a></li>
        </ul>
    </div>

    <div class = "container">
        <div class="card-columns">
            @if (Model != null)
            {
                @foreach (var article in Model)
                {
                    if (article.Content.Length > 160)
                    {
                        article.Content = article.Content.Substring(0, 160) + "...";
                    }
                <div class="card">

                    <a href='@Url.Action("ArticlePage", "Article", new { id = article.Id }, null)'>
                        <img class="card-img" src="https://s3.eu-central-1.amazonaws.com/bootstrapbaymisc/blog/24_days_bootstrap/pasta.jpg" />
                    </a>

                    @foreach (var tag in article.Tags)
                    {
                        <a href="#" style="float:right;margin:1%" class="btn btn-dark btn-sm text-light">@tag</a>
                    }

                    <div class="card-body">
                        <h4 asp-action="ArticlePage" class="card-title">@Html.DisplayFor(model => article.Title)</h4>
                        <small class="text-muted cat">
                            <i class="far fa-clock text-info"></i> Geschreven door: @Html.DisplayFor(model => article.Author)
                            <i class="far fa-clock text-info"></i> &nbsp;&nbsp;|&nbsp;&nbsp;
                            <i class="far fa-clock text-info"></i>
                            <i class="far fa-clock text-info"></i> Leestijd: 5 minutes
                        </small>
                        <p class="card-text">@Html.DisplayFor(model => article.Content)</p>
                    </div>
                    <div class="card-footer text-muted d-flex justify-content-between bg-transparent border-top-0">
                        <div class="views">
                            @Html.DisplayFor(model => article.CreatedAt)
                        </div>
                        <div class="stats">
                            <i class="far fa-eye"></i>
                            <i class="far fa-comment"></i> 12
                        </div>
                    </div>
                </div>
                }
            }
        </div>

    </div>

</body>
